
<div class="custom-bg">
    <div class="bloc-spacer"></div>
    <div class="container">
        <div class="row gx-6 gy-5 justify-content-center align-items-center">
            <div class="col-11 col-md-8 col-lg-4 text-center p-5">
                <img src="mbihan.jpg" alt="photo margot Bihan" class="rounded img-fluid box-shadow ">
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="category-italic-font">À Propos</div>
                <div class="main-text">
                    <p>Motivée par le plaisir que je retrouve à résoudre des problèmes logiques, j’ai décidé de me reconvertir dans la programmation. C’est ainsi que j’ai intégré <span class="underline">42</span>, une école reconnue pour son modèle pédagogique innovant, basé sur l'apprentissage par projet, l'autonomie et la collaboration entre pairs, une approche que j'apprécie énormément et qui correspond parfaitement à ma manière d'apprendre.</p>
                    <p>Désirant poursuivre mon cursus dans le Web et Mobile, je suis à la recherche d’une <span class="underline">alternance</span> de 2 ans, ou d’un <span class="underline">stage</span> de 4 à 6 mois suivi idéalement d’une alternance de 1 an. Mon objectif est de mettre en pratique les compétences acquises et de continuer à me développer dans un environnement professionnel enrichissant.</p>
                    <p>J’ai une préférence pour le <span class="underline">backend / fullstack</span>, motivée par mon désir de contribuer au développement d'applications fonctionnelles et performantes. En tant que membre d'une équipe, je suis déterminée à apporter bien plus que mes compétences techniques. Mon <span class="underline">esprit d'équipe</span> et ma capacité à collaborer efficacement sont des atouts que je cultive humblement et que je souhaite mettre à profit dans un cadre professionnel stimulant.</p>
                </div>
            </div>
        </div>
        <div class="row row-margin">
            <fieldset class="hit-list justify-content-center ">
                <legend class="hitlist-legend">Quelques accomplissements personnels</legend>
                <div class="type-writer-container">
                    <span class="type-writer">
                        {{currentText}}
                    </span>
                </div>
            </fieldset>
        </div>
    </div>
</div>


