
<div class="custom-bg">
    <div class="bloc-spacer"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <img src="mbihan.jpg" alt="photo margot Bihan" class="rounded resize-image box-shadow">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="category-italic-font">À Propos</div>
                <div class="main-text">
                    <p class="main-text">{{text1}}</p>
                    <p class="main-text">{{text2}}</p>
                </div>
            </div>
        </div>
    </div>
</div>