<div class="custom-bg">
    <div class="container">
        <div class="text-center">
            <span class="project-title category-italic-font top-padding">Contact</span>
        </div>
        <div class="row align-items-center justify-content-center top-padding">
            <div class="col-1">
                <button  class="btn btn-link p-0 " src="mail-send-line.svg" (click)=toogleDisplay()>
                    <img
                    src="mail-send-line.svg"
                    alt="see mail"
                    class="collapse-mail-icon">
                </button>
            </div>
            <div class="col-1">
               <div [hidden]="hideMail">
                    <span class="main-text">{{mail}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

