/* You can add global styles to this file, and also import other style files */

:root{
    --background: #fceee9;
    --text-color: #192c1e;
}

html {
    background-color: var(--background);
}


body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  p, a, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }


.title-font{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 800;
    font-size: 60px;
    color: #171d19;
}

.subtitle-font{
    margin-top: 30px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 400;
    font-size: 35px;
    color: #192c1e;
}

.category-italic-font{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
    color: #192c1e;
    margin-bottom: 1em;
}

.main-text{


  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
  color: #485e4d;
}
.custom-bg{
  background-color: var(--background);
}
