.project-text-margin{
  margin-bottom: 1em;
}

.spacer{
  padding-bottom: 3em;
}

/* TEXT */

.project-title{
  text-align: left;
}

.project-name{
    margin-top : 20px;
    margin-bottom : 20px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2em;
}
.skill-list{
  margin-left: 2em;
}

.justify-text{
  text-align: justify;
  padding-right: 2em;
}

/* PROJECT IMAGE */

.project-image{
    width: 600px;
    height: auto;
}

              
.project-shadow{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 0 20px rgba(25, 44, 30); */
}


/* LANGAGES ICONS */

.tech-icon{
  width: 40px;
  height: 40px;
}

.langage-name{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size:medium;
  text-align: center;
  color: #485e4d;
}

/* LINK ICONS */

.link-icon-container{
  margin-top: 10px;
}

.link-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  padding: 4px; 
  box-sizing: border-box; 
  background-color: var(--background); 

 
}

.link-icon:hover  {
  border: 3px solid var(--background)

}

/* PROJECT SELECTION BUTTONS*/

.round-projects-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--light-bg-button);
  color: white; 
  font-size: 20px; 
  text-align: center;
  line-height: 50px; 
  border: none;
  display: inline-block; 
  color: var(--main-text-color);
  margin-right: 20px;
}

.round-projects-button:hover{
  background-color: var(--darker-bg-button);
  color: var(--background);
}

.round-projects-button:last-child {
  margin-right: 0;
}

.button-index-text{
  font-size: 1.5rem;
  font-weight: 600;
}
.active-round-project-button{
  background-color: var(--darker-bg-button);
  color: var(--background);
}

.button-margin{
  margin-bottom: 20px;
}