<div class="alternative-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <span class="project-title category-italic-font">Projets Web</span>
                </div>
                <div class="row">
                    <img src="{{selectedProject.image}}" class="img-fluid rounded"/>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="button-selection">
                    <button
                        type="button"
                        class="btn custom-btn btn-md img-shadow"
                        (click)="selectProject(0)"
                        [ngClass]="{'custom-active-btn': selectedProjectIndex === 0}">
                        <span style="font-size: 1.5rem; width: 30px; height: 30px; display: inline-flex; justify-content: center; align-items: center;">1</span>
                    </button>
                    <button
                        type="button"
                        class="btn custom-btn btn-md img-shadow"
                        (click)="selectProject(1)"
                        [ngClass]="{'custom-active-btn': selectedProjectIndex === 1}">
                        <span style="font-size: 1.5rem; width: 30px; height: 30px; display: inline-flex;  justify-content: center; align-items: center;">2</span>
                    </button>
                </div>
                
                <div class="row">
                    <span class="project-name">{{selectedProject.title}}</span>
                </div>

                <div class="row ">
                    <div *ngFor="let description of selectedProject.descriptions" class="d-inline justify-text project-text-margin">
                        <span class="main-text">{{description}} </span>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li *ngFor="let skill of selectedProject.skills" class="justify-text skill-list">
                            <span  class="main-text">{{skill}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center text-center top-padding">
                        <div *ngFor="let langage of selectedProject.langages" class="d-inline mx-4">
                            <img src="{{langage.src}}" class="tech-icon"/>
                            <div class="langage-name">{{langage.name}}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ul class="top-padding">
                        <li *ngFor="let link of selectedProject.links" class="d-inline mx-2">
                            <a href={{link.url}}>
                                <img src="{{link.image}}" class="link-icon"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
