<nav class="navbar navbar-light bg-custom fixed-top">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#accueil">
                    <span class="main-text">Accueil</span>  
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#apropos">
                    <span class="main-text">À propos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projet">
                    <span class="main-text">Projets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">
                    <span class="main-text">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</nav>