.project-name{
    /* margin-top: 30px; */
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 600;
    font-size: 20px;
}

.project-image{
    width: 600px;
    height: auto;
}

.custom-btn{

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 800;
  margin-right: 1em;

  --bs-btn-color: #f8d3c5; 
  --bs-btn-bg: #a3b899;
  --bs-btn-hover-color: #f8d3c5;
  --bs-btn-hover-bg: #667b68;
}
  

.custom-active-btn{

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 800;
  margin-right: 1em;

  --bs-btn-color: #f8d3c5; 
  --bs-btn-bg: #667b68;
  --bs-btn-hover-color: #f8d3c5;
  --bs-btn-hover-bg: #667b68;
}

.justify-text{
  text-align: justify;
}


.img-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  border: 2px solid var(--background); 
  padding: 4px; 
  box-sizing: border-box; 
  background-color: var(--background); 
  
}

.img-icon:hover  {
  border: 3px dashed #f8d3c5;
}

.list-icon{
  padding-right: 2em;
}

.list-icon:last-child{
  margin-right: 0;
}


