<nav class="navbar navbar-light bg-custom fixed-top">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Contact</a>
            </li>
            

        </ul>
    </div>

</nav>