<div class="spacer"></div>
<div class="propos">
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <img src="mbihan.jpg" alt="photo margot Bihan" class="rounded resize-image">
        </div>
        <div class="col col-md-4">
            <div class="category-italic-font">À Propos</div>
            <div class="main-text">
                <p>{{text1}}</p>
                <p>{{text2}}</p>
            </div>
        </div>

    </div>
</div>
<div class="spacer"></div>