/* You can add global styles to this file, and also import other style files */

:root{
    --background: #fceee9;
    --alternative-bg-color: #f8d3c5;
    --main-text-color:#485e4d;
    --title-text-color: #192c1e;
    --light-bg-button:#a3b899;
    --darker-bg-button:#667b68;
}

html {
    background-color: var(--background);
} 


body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  }
  
  p, a, li {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }



.category-italic-font{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 3em;
    color: var(--title-text-color);
    margin-bottom: 0.5em;
}

.main-text{
  font-size: large;
  text-align: justify;
  color: var(--main-text-color);
}

.caption-text{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size:medium;
  color: var(--main-text-color);
}

.custom-bg{
  background-color: var(--background);
}

.alternative-bg{
  background-color: var(--alternative-bg-color);
}

.top-padding{
  padding-top: 1em;
}

.img-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bloc-spacer{
  padding-top: 50px;
}