.jumbotron{
    padding: 3rem 1rem;
    background-color: #a3b899;
}

.spacer{
    height: 56px;
    background-color: var(--background);
}

.title-container{
    /* background-color: #f8d3c5; */
    background-color: #dde6d5;
    border-radius: 15px;
  }
