.spacer{
    height: 56px;
    background-color: var(--background);
}

.background-image{
    background-image: url('/champignon2.png');
    background-size: 100% auto;
    background-position: center ;
    background-repeat: no-repeat;
    overflow-x: hidden;
    opacity: 0.8;
}

.title-font{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    padding-top: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.subtitle-font{
    margin-top: 30px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .title-font {
        font-size: 50px;
    }
    .subtitle-font {
        font-size: 40px;
    }


.background-image{
        background-size: auto 100%;
    }
}